@font-face {
    font-family: 'iconfont';
    /* Project id 2394616 */
    src: url('//at.alicdn.com/t/font_2394616_fuodxu9us05.woff2?t=1647321870322') format('woff2'), url('//at.alicdn.com/t/font_2394616_fuodxu9us05.woff?t=1647321870322') format('woff'), url('//at.alicdn.com/t/font_2394616_fuodxu9us05.ttf?t=1647321870322') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-website:before {
    content: "\e63a";
}

.icon-github:before {
    content: "\e732";
}

.icon-jiahao:before {
    content: "\e702";
}

.icon-arrow:before {
    content: "\e631";
}

.icon-theme:before {
    content: "\e62d";
}

.icon-shoucang:before {
    content: "\e693";
}

.icon-avatar:before {
    content: "\e60d";
}

.icon-message:before {
    content: "\e61a";
}

.icon-my:before {
    content: "\e711";
}

.icon-post:before {
    content: "\e60b";
}

.icon-index:before {
    content: "\e600";
}